body {
    padding: 0px;
}

.NavLi {
    list-style: none;
    margin: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: bold;
}

.NavBar {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: left;
    width: 250px;
    height: 100vh;
    background: linear-gradient(to left, #94e9ee, 10%, #20a5ac);
    box-shadow: 4px 4px 6px;
}